* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    transition: 0.3s;
}

.d-flex{
    display: flex;
}

.d-flex-bit{
    display: flex;
    justify-content: space-between;
}

.d-flex-eve{
    display: flex;
    justify-content: space-evenly;
}

.centraliza{
    display: flex;
    justify-content: center;
}

.relativo{
    position: relative;
}

.estreita{
    display: flex;
    align-items: center;
}

.coluna{
    display: flex;
    flex-direction: column;
}

body{
    background-color: black;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Remove a barra de rolagem global */
  }

/* --------------------- HEADER --------------------- */

header{
    height: 61px;
    max-width: 100%;
}

.logo{
    height: 33px;
    width: 33px;
    margin-left: 25px;

}

.home{
    width: 45px;
    height: 45px;
    background-color: #1F1F1F;
    border-radius: 50px;
    transition: 0.2s;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-icone{
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 25px;
    color:#ffffff;
    transition: 0.2s;
    transform-origin: center;
}

.home:hover{
    width: 50px;
    height: 50px;
    transform-origin: center;
}

.home:hover .home-icone{
    font-size: 30px;
    transform-origin: center;
}

.pesquisa{
    width: 470px;
    height: 47px;
    margin-left: 10px;
    background-color: #1F1F1F;
    color: #B3B3A6;
    border: none;
    border-radius: 50px;
    padding-left: 45px;
    outline: none;
    margin-left: 60px;
    position: absolute;

    transition: 0.6s;
}

.pesquisa:hover{
    background-color: #2A2A2A;
    color: #B3B3A6;
    border: 0.5px solid #b3b3a66b;
}

.lupa{
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 30px;
    color:#B3B3A6;

    display: flex;
    position: absolute;
    z-index: 2;
    right: 932px;
}

.pesquisa:hover .lupa{
    color:#ffffff;
}

.pesquisa:focus{
    border: 2px solid #ffffff;
}

.premium{
    background-color: #ffffff;
    color: black;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50px;
    height: 30px;
    width: 170px;
    transition: 0.3s;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.premium:hover{
    background-color: #F0F0F0;
    height: 33px;
    width: 175px;
    transform-origin: center;
}

.instalar{
    color: #B3B3A6;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    margin-left: 26px;
}

.instalar:hover{
    color:#ffffff;
    font-size: 15px;
    transform-origin: center;
}

.instalar-img{
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 20px;
    color:#B3B3A6;
    position: absolute;
}

.instalar:hover .instalar-img{
    color: #ffffff;
    font-size: 21px;
    transform-origin: center;
}

.sino{
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 20px;
    color:#B3B3A6;
    position: absolute;
}

.sino:hover{
    color:#ffffff;
}

.conta{
    background-color: #7A4931;
    color: black;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-top: -20px;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

.conta:hover{
    width: 45px;
    height: 45px;
    transform-origin: center;
}

.divisao-head-um{
    margin-left: 445px;
}

.divisao-head-dois{
    margin-left: 580px;
}

.divisao-head-tres{
    margin-left: 190px;
}

.divisao-head-quatro{
    margin-left: 180px;
}

/* --------------------- DE LADO --------------------- */

.de-lado{
    background-color: #121212;
    height: 580px;
    width: 350px;
    margin-left: 10px;
    border-radius: 10px;
    padding: 18px;
}

.descricao-de-lado i{
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 30px;
    color:#B3B3A6;
}

.descricao-de-lado p{
    font-size: 15px;
    font-weight: bold;
    color:#B3B3A6;
    margin-left: 10px;
}

.de-lado .ao{
    color: #ffffff;
    background-color: #2A2A2A;
    font-size: 14px;
    width: 75px;
    height: 29px;
    border-radius: 45px;
    margin-top: 15px;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist{
    height: 70px;
    padding: 10px;
    border-radius: 5px;
}

.playlist:hover{
    background-color: #2A2A2A;
    
}

.playlist img{
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

.nome-play{
    color: #ffffff;
    margin-left: 20px;
    margin-bottom: 3px;
}

.nome-quem{
    color: #B3B3A6;
    margin-left: 20px;
    font-size: 14px;

}

/* --------------------- CONTEUDO --------------------- */

.conteudo-principal{
    display: block;
    max-height: 580px;
    max-width: 1160px;
    margin-left: 10px;
    border-radius: 15px;
    background: linear-gradient(180deg, #232323c1, #121212);
}

.conteudo{
    display: none;
    overflow-y: auto;
    max-height: 580px;
    max-width: 1160px;
    margin-left: 10px;
    border-radius: 15px;
}

.conteudo::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}
  
.conteudo::-webkit-scrollbar-thumb {
    background-color: transparent; /* Cor da "thumb" (parte rolável) */
    border-radius: 4px;
}
  
.conteudo::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor ao passar o mouse */
}

.conteudo:hover::-webkit-scrollbar-thumb,
.conteudo:focus-within::-webkit-scrollbar-thumb {
  background-color: #b3b3a693; /* Aparece apenas ao passar o mouse */
}

.album{
    height: 230px;
    width: 230px;
    border-radius: 5px;
    box-shadow: #232323 0px 0px 20px;
}

.degrade{
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: bottom center;
    width: 1150px;
    height: 440px;
}

.choro{
    background-image: url(../img/fundo-album1.png);
}

.safado{
    background-image: url(../img/fundo-album2.png);
}

.festa{
    background-image: url(../img/fundo-album3.png);
}

.odisseia{
    background-image: url(../img/fundo-album4.png);
}

.escuro{
    background: linear-gradient(200deg, #232323a8, #23232312, #23232312, #2323236f, #232323);
    padding: 18px;
    width: 1150px;
    height: 300px;
}

.conjunto-album{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 35px;
}

.textinho-album{
    color:#ffffff;
    margin-left: 20px;
    font-size: 16px;
    text-shadow: 0px 0px 10px #232323a3;
}

.nome-album{
    color:#ffffff;
    font-weight: bold;
    font-family: "Poppins";
    margin-left: 20px;
    font-size: 56px;
    margin-bottom: 5px;
    text-shadow: 0px 0px 10px #232323a3;
}

.descricao-album{
    color:#B3B3A6;
    font-weight: bold;
    margin-left: 20px;
    font-size: 16px;
    margin-bottom: 5px;
    text-shadow: 0px 0px 10px #232323a3;
}

.iniciar{
    background: linear-gradient(180deg, #232323c1, #121212);
    backdrop-filter: blur(10px);
    width: 1150px;
    height: 140px;
    padding: 15px;
}

.play-icone{
    font-family: 'Material Icons';
    font-style: normal;
    background-color: #1DD75F;
    border-radius: 50px;
    font-size: 35px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.play-icone:hover{
    background-color: #3ADF74;
    font-size: 36px;
    height: 63px;
    width: 63px;
}

.add-icone{
    font-family: 'Material Icons';
    font-style: normal;
    color: #B3B3A6;
    font-size: 35px;
    margin-left: 35px;
}

.add-icone:hover{
    color: #ffffff;
    font-size: 37px;
    margin-left: 33px;
}

.mais-icone{
    font-family: 'Material Icons';
    font-style: normal;
    color: #B3B3A6;
    font-size: 35px;
    margin-left: 35px;
}

.mais-icone:hover{
    color: #ffffff;
    font-size: 37px;
    margin-left: 33px;
}

.mostra-musica{
    height: 70px;
}

.mostra-musica:hover{
    background-color: #2A2A2A;
}

.mostra-musica img{
    height: 60px;
    width: 60px;
    border-radius: 5px;
    margin-left: 20px;
}

.mostra-musica .num{
    color: #B3B3A6;
    font-weight: normal;
    border-radius: 15px;
    margin-left: 20px;
}

.mostra-musica .musica{
    color: #ffffff;
    font-weight: normal;
    font-size: 16px;
    margin-left: 10px;
}

.mostra-musica .autor{
    color: #B3B3A6;
    font-weight: normal;
    font-size: 14px;
    margin-left: 10px;
}

.texto .titulo{
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    margin-left: 70px;
    margin-bottom: 20px;
}

.texto .titulo span{
    color:#B3B3A6;
    font-size: 19px;
    font-weight: normal;
    margin-left: 10px;
}


.texto-comprido{
    color:#ffffff;
    font-size: 16px;
    margin: 10px 50px 25px 50px;
    font-weight: 350;
    line-height: 25px;
    letter-spacing: 1.5px;
}

.texto{
    background-color: #121212;
    padding: 15px;
    width: 1150px;
} 


/* --------------------- PLAY --------------------- */

.conjunto-play-um{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play i:hover{
    color:#ffffff;
}

.icone-play-embaralha{
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 28px;
    color: #B3B3A6;
    margin-right: 15px;
}

.icone-play-anterior{
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 35px;
    color: #B3B3A6;
    margin-right: 15px;
}

.icone-play-play{
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 40px;
    color: #ffffff;
}

.icone-play-proximo{
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 35px;
    color: #B3B3A6;
    margin-left: 15px;
}

.icone-play-novamente{
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 28px;
    color: #B3B3A6;
    margin-left: 15px;
}

.tempo p{
    color: #ffffff;
    margin: 3px 10px;
    font-size: 14px;
}

.total{
    width: 550px;
    height: 5px;
    background-color: #B3B3A6;
    margin-top: 10px;
    border-radius: 15px;
}

.total:hover .percorrido{
    background-color: #1DD75F;
}

.percorrido{
    width: 250px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 15px;

    animation-name: prolonga;
    animation-duration: 319s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes prolonga {
    0%{
        width: 0px;
    }
    100%{
        width: 550px;
    }
}